openapi: 3.0.1
info:
  description: |
    # Introduktion
    Velkommen til [cvr.dev](https://cvr.dev)'s HTTP API dokumentation.

    Dette dokument beskriver, hvordan du kan benytte vores API til at hente CVR-data.
    Vi henter og cacher data fra Virks CVR-database en gang i minuttet, så vi altid kan levere så nøjagtig data som muligt.

    Udover at være beskrevet på denne sige, er vores API også [beskrevet i OpenAPI 3.0 format](https://docs.cvr.dev/cvrdev_openapi.yml) og som [Postman-dokumentation](https://documenter.getpostman.com/view/13435475/TVejiqUr).

    For at benytte vores API skal du have en [cvr.dev-konto](https://cvr.dev/#/auth/signup) med et aktivt abonnement, som du kan [prøve gratis de første 30 dage](https://cvr.dev/#/prices).
  title: cvr.dev API dokumentation
  version: "1.0"
servers:
- url: https://api.cvr.dev
security:
- APIKey: []
tags:
- description: |
    Alle brugere skal, når de laver en konto, tilkendegive at de har til hensigt at følge loven om reklamebeskyttelse.
    **Det er ulovligt at lave reklamehenvendelser til virksomheder, der er reklamebeskyttet i CVR.**

    Læs mere her: [https://datacvr.virk.dk/artikel/vilkaar-og-betingelser#accordion-5-button](https://datacvr.virk.dk/artikel/vilkaar-og-betingelser#accordion-5-button)
  name: Reklamebeskyttelse
- description: |
    For at benytte vores API skal du have en [cvr.dev-konto](https://cvr.dev/#/auth/signup) og oprette en API key på hjemmesiden.

    Dine API keys er personlige og skal sendes med i alle requests. Din API key skal sættes i `Authorization`-headeren, som vist her:

    `Authorization: din-api-key`

    Du kan teste, om du medsender din API key korrekt, ved at benytte vores [Test API key endpoint](#tag/Autentificering/operation/testAPIKey)
  name: Autentificering
- description: |
    Disse endpoints returnerer rå-data fra CVR-registret, som den kommer fra Virk. Dataformaterne i disse endpoints er derfor bestemt af Virk, ikke af cvr.dev.

    Endpoints i denne kategori er inkluderet i alle vores abonnementer.

    Udover eksemplerne på returdata givet ude i højre side, er der en uddybende beskrivelse af data for hvert endpoint ved den grønne 200-kode under `Responses` i hvert endpoint.
  name: Rå-data fra CVR
- description: |
    Disse endpoints returnerer data afledt fra en eller flere kilder, inklusiv rå-data fra CVR. Dataformaterne i disse endpoints er bestemt af cvr.dev.

    Endpoints i denne kategori er **ikke inkluderet** i vores Starter-abonnement.

    Udover eksemplerne på returdata givet ude i højre side, er der en uddybende beskrivelse af data for hvert endpoint ved den grønne 200-kode under `Responses` i hvert endpoint.
  name: Ejerskabshierarki
paths:
  /api/test/apikey:
    get:
      description: |
        Dette endpoint lader dig teste om du medsender din API key korrekt. Dette endpoint tæller ikke med i dit månedlige forbrug.

        Dine API keys er personlige og skal sendes med i alle requests. Din API key skal sættes i `Authorization`-headeren, som vist her:

        `Authorization: Bearer din-api-key`
      operationId: testAPIKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/testAPIKey_200_response'
          description: API key er gyldig og medsendt på korrekt vis
        "401":
          description: API key er ugyldig eller bliver ikke medsendt korrekt
        "500":
          description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
            på at udbedre problemet
      summary: Test API key
      tags:
      - Autentificering
  /api/cvr/virksomhed:
    get:
      description: "Dette endpoint returnerer alt data om en virksomhed, som den er\
        \ i CVR. Dette dataformat er bestemt af Virk, ikke af cvr.dev.\n\n### Data\n\
        Bemærk feltet `virksomhedMetadata`, der indeholder en simplificeret opsummering\
        \ af resten af data. \nDet er meget ofte denne information, man ønsker at\
        \ benytte.\n\n### Query parametre\n**OBS**: *Sendes begge query parametre\
        \ samtidig, vil kun cvr_nummer blive brugt.*\n"
      operationId: getCvrVirksomhed
      parameters:
      - description: |
          CVR-nummer på virksomheden, der søges efter
        example: "10103940"
        explode: true
        in: query
        name: cvr_nummer
        required: false
        schema:
          type: string
        style: form
      - description: |
          Navn på virksomheden, der søges efter
        example: "Statsministeriet, Departementet"
        explode: true
        in: query
        name: navn
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Virksomhed'
                type: array
          description: Liste af Virksomheder
        "401":
          description: API key er ugyldig eller bliver ikke medsendt korrekt
        "402":
          description: Din API key er ikke tilknyttet et aktivt abonnement. Log ind
            på din profil og påbegynd et abonnement
        "429":
          description: Du har sendt flere requests end dit abonnement tillader. Vent
            lidt med at sende flere
        "500":
          description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
            på at udbedre problemet
      summary: Data om Virksomheder
      tags:
      - Rå-data fra CVR
  /api/cvr/produktionsenhed:
    get:
      description: "Dette endpoint returnerer alt data om en produktionsenhed, som\
        \ den er i CVR. Dette dataformat er bestemt af Virk, ikke af cvr.dev.\n\n\
        ### Data\nBemærk feltet `produktionsEnhedMetadata`, der indeholder en simplificeret\
        \ opsummering af resten af data. \nDet er meget ofte denne information, man\
        \ ønsker at benytte.\n\n### Query parametre\n**OBS**: *Sendes begge query\
        \ parametre samtidig, vil kun p_nummer blive brugt.*\n"
      operationId: getCvrProduktionsenhed
      parameters:
      - description: |
          P-nummer på produktionsenheden, der søges efter
        example: "1004862579"
        explode: true
        in: query
        name: p_nummer
        required: false
        schema:
          type: string
        style: form
      - description: |
          Adresse på produktionsenheden, der søges efter
        example: Nybrovej 410 2800
        explode: true
        in: query
        name: adresse
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Produktionsenhed'
                type: array
          description: Liste af Produktionsenheder
        "401":
          description: API key er ugyldig eller bliver ikke medsendt korrekt
        "402":
          description: Din API key er ikke tilknyttet et aktivt abonnement. Log ind
            på din profil og påbegynd et abonnement
        "429":
          description: Du har sendt flere requests end dit abonnement tillader. Vent
            lidt med at sende flere
        "500":
          description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
            på at udbedre problemet
      summary: Data om Produktionsenheder
      tags:
      - Rå-data fra CVR
  /api/cvrdev/virksomhed/datterselskaber:
    get:
      description: |
        Dette endpoint returnerer hierarkiet af alle datterselskaber som enheden (person eller virksomhed) står noteret som ejer for i CVR-registret.
        Denne data inkluderer enhedens omtrentlige ejerskab og stemmerettigheder, som det er angivet i CVR.

        ### Ejerskab og stemmeret udgør ikke altid 100%
        Den danske lovgivning gør, at det ikke altid er muligt at se ejerne af en virksomhed. Eksempelvis siger [Selskabslovens § 55](https://www.retsinformation.dk/eli/lta/2019/763#id806e59ff-9afb-4104-8249-2acf02cbaabc),
        at det kun er ejere med en kapitalandel eller stemmeret over 5%, der skal offentliggøres.

        Der er andre tilfælde, hvor eksempelvis en virksomheds ledelse er noteret som ejere, hvor ejerskabet ikke fremgår direkte af CVRs data.

        ### Query parametre
        **OBS**: *Sendes begge query parametre samtidig, vil kun enhedsnummer blive brugt.*
      operationId: getCvrDevVirksomhedDatterselskaber
      parameters:
      - description: |
          CVR-nummer på virksomheden, hvis datterselskaber ønskes
        example: "10582989"
        explode: true
        in: query
        name: cvr_nummer
        required: false
        schema:
          type: string
        style: form
      - description: |
          Enhedsnummer på enheden (virksomhed eller person), hvis datterselskaber ønskes
        example: "2337773"
        explode: true
        in: query
        name: enhedsnummer
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirksomhedOwnership'
                type: array
          description: Liste af virksomheder som ejes af den pågældende enhed
        "401":
          description: API key er ugyldig eller bliver ikke medsendt korrekt
        "402":
          description: Din API key er ikke tilknyttet et aktivt abonnement. Log ind
            på din profil og påbegynd et abonnement
        "403":
          description: Dette endpoint er ikke inkluderet i dit abonnement
        "429":
          description: Du har sendt flere requests end dit abonnement tillader. Vent
            lidt med at sende flere
        "500":
          description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
            på at udbedre problemet
      summary: Data om virksomheds datterselskaber
      tags:
      - Ejerskabshierarki
  /api/cvrdev/virksomhed/ejere:
    get:
      description: |
        Dette endpoint returnerer hierarkiet af alle enheder der, direkte eller indirekte, er noteret som ejere af den givne virksomhed i CVR-registret.
        Denne data inkluderer enhedens omtrentlige ejerskab og stemmerettigheder, som det er angivet i CVR.

        ### Ejerskab og stemmeret udgør ikke altid 100%
        Den danske lovgivning gør, at det ikke altid er muligt at se ejerne af en virksomhed. Eksempelvis siger [Selskabslovens § 55](https://www.retsinformation.dk/eli/lta/2019/763#id806e59ff-9afb-4104-8249-2acf02cbaabc),
        at det kun er ejere med en kapitalandel eller stemmeret over 5%, der skal offentliggøres.

        Der er andre tilfælde, hvor eksempelvis en virksomheds ledelse er noteret som ejere, hvor ejerskabet ikke fremgår direkte af CVRs data.

        ### Query parametre
        **OBS**: *Sendes begge query parametre samtidig, vil kun enhedsnummer blive brugt.*
      operationId: getCvrDevVirksomhedEjere
      parameters:
      - description: |
          CVR-nummer på virksomheden, hvis ejerhierarki ønskes
        example: "10582989"
        explode: true
        in: query
        name: cvr_nummer
        required: false
        schema:
          type: string
        style: form
      - description: |
          Enhedsnummer på virksomheden, hvis ejerhierarki ønskes
        example: "2337773"
        explode: true
        in: query
        name: enhedsnummer
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VirksomhedOwnership'
                type: array
          description: "Liste af enheder der, direkte eller indirekte, ejer den på\
            gældende virksomhed"
        "401":
          description: API key er ugyldig eller bliver ikke medsendt korrekt
        "402":
          description: Din API key er ikke tilknyttet et aktivt abonnement. Log ind
            på din profil og påbegynd et abonnement
        "403":
          description: Dette endpoint er ikke inkluderet i dit abonnement
        "429":
          description: Du har sendt flere requests end dit abonnement tillader. Vent
            lidt med at sende flere
        "500":
          description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
            på at udbedre problemet
      summary: Data om virksomheds ejere
      tags:
      - Ejerskabshierarki
components:
  responses:
    Unauthorized:
      description: API key er ugyldig eller bliver ikke medsendt korrekt
    NotIncludedInSubscription:
      description: Dette endpoint er ikke inkluderet i dit abonnement
    RateLimitExceeded:
      description: Du har sendt flere requests end dit abonnement tillader. Vent lidt
        med at sende flere
    PaymentRequired:
      description: Din API key er ikke tilknyttet et aktivt abonnement. Log ind på
        din profil og påbegynd et abonnement
    InternalServerError:
      description: Noget uventet gik galt. Vi har fået en notifikation og arbejder
        på at udbedre problemet
  schemas:
    VirksomhedOwnership:
      description: |
        Ejerskabsrelation mellem en enhed (person eller virksomhed) og en virksomhed. Enheden ejer virksomheden.
      example:
        distance: 3
        virksomhed_navn: NNF Kenya A/S
        ejerandel: "1.0"
        stemmeret: "1.0"
        ejer_enhedstype: VIRKSOMHED
        ejer_navn: NOVO NORDISK FONDEN
        ejerforhold: Legal ejer
        virksomhed_enhedsnummer: 4010032536
        virksomhedsform: A/S
        ejerandel_gyldig_til: 2000-01-23T04:56:07.000+00:00
        ejer_cvr_nummer: 10582989
        ejerandel_gyldig_fra: 2024-04-23T00:00:00Z
        virksomhed_cvr_nummer: 44790718
        ejer_enhedsnummer: 2337773
        stemmeret_gyldig_fra: 2024-04-23T00:00:00Z
        stemmeret_gyldig_til: 2000-01-23T04:56:07.000+00:00
      nullable: false
      properties:
        ejer_enhedsnummer:
          description: Ejerens enhedsnummer
          example: 2337773
          format: int64
          nullable: false
          type: integer
        ejer_navn:
          description: Ejerens navn
          example: NOVO NORDISK FONDEN
          nullable: false
          type: string
        ejer_cvr_nummer:
          description: "Ejerens CVR-nummer, hvis enheden er en virksomhed. Vil væ\
            re null for enheder, der ikke er virksomheder"
          example: 10582989
          format: int64
          nullable: true
          type: integer
        ejer_enhedstype:
          description: "Ejerens enhedstype: VIRKSOMHED, PERSON eller ANDEN_DELTAGER"
          example: VIRKSOMHED
          nullable: false
          type: string
        ejerforhold:
          description: "Ejerforhold: 'Reel ejer' eller 'Legal ejer'"
          example: Legal ejer
          nullable: false
          type: string
        virksomhed_enhedsnummer:
          description: Virksomhedens enhedsnummer
          example: 4010032536
          format: in64
          nullable: false
          type: integer
        virksomhed_navn:
          description: Virksomhedens navn
          example: NNF Kenya A/S
          format: Virksomhedens navn
          nullable: false
          type: string
        virksomhed_cvr_nummer:
          description: Virksomhedens CVR nummer
          example: 44790718
          format: int64
          nullable: false
          type: integer
        virksomhedsform:
          description: "Virksomhedens virksomhedsform, e.g. APS, A/S"
          example: A/S
          nullable: false
          type: string
        ejerandel:
          description: "Andel af ejerskab, angivet i intervallet [0;1]"
          example: "1.0"
          nullable: false
          type: string
        ejerandel_gyldig_fra:
          description: Dato hvor nyeste ejerskab startede
          example: 2024-04-23T00:00:00Z
          format: date-time
          nullable: false
          type: string
        ejerandel_gyldig_til:
          description: Dato hvor nyeste ejerskab sluttede. Vil være null ved igangværende
            ejerskab
          format: date-time
          nullable: true
          type: string
          example: null
        stemmeret:
          description: "Andel af stemmerettigheder, angivet i intervallet [0;1]"
          example: "1.0"
          nullable: false
          type: string
        stemmeret_gyldig_fra:
          description: Dato hvor nyeste stemmerettigheder startede
          example: 2024-04-23T00:00:00Z
          format: date-time
          nullable: false
          type: string
        stemmeret_gyldig_til:
          description: Dato hvor stemmerettigheder sluttede. Vil være null ved igangværende
            stemmerettigheder
          format: date-time
          nullable: true
          type: string
          example: null
        distance:
          description: "Ejerskabsdistancen mellem enheden, der blev slået op, og ejerskabet\
            \ af denne virksomhed"
          example: 3
          format: int32
          nullable: false
          type: integer
      type: object
    Virksomhed:
      example:
        spaltninger:
        - organisationsNavn:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          enhedsNummerOrganisation: 4006603858
          udgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          indgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
        - organisationsNavn:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          enhedsNummerOrganisation: 4006603858
          udgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          indgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
        fejlRegistreret: false
        livsforloeb:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        aarsbeskaeftigelse:
        - intervalKodeAntalAnsatte: ANTAL_1000_999999
          aar: 2020
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          intervalKodeAntalAarsvaerk: ANTAL_1_1
          antalAarsvaerk: 355
          antalInklusivEjere: 5
          antalAnsatte: 388
          intervalKodeAntalInklusivEjere: ANTAL_200_499
        - intervalKodeAntalAnsatte: ANTAL_1000_999999
          aar: 2020
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          intervalKodeAntalAarsvaerk: ANTAL_1_1
          antalAarsvaerk: 355
          antalInklusivEjere: 5
          antalAnsatte: 388
          intervalKodeAntalInklusivEjere: ANTAL_200_499
        sekundaertTelefonNummer:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        hovedbranche:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        penheder:
        - pNummer: 1005054535
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - pNummer: 1005054535
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        postadresse:
        - vejkode: 420
          fritekst: |-
            1501 Southbank Tower
            London SE1 9EY
          adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
          vejnavn: Pøllegårdsvej
          bogstavTil: B
          conavn: Postboks 250
          bogstavFra: A
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          husnummerFra: 10
          kommune:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            kommuneNavn: KØBENHAVN
            kommuneKode: 101
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          postboks: "1440"
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          postnummer: 7741
          bynavn: Bording
          etage: st
          husnummerTil: 22
          sidedoer: tv
          landekode: DK
          sidstValideret: 2022-07-18T03:39:09.942Z
          postdistrikt: Gudbjerg Sydfyn
        - vejkode: 420
          fritekst: |-
            1501 Southbank Tower
            London SE1 9EY
          adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
          vejnavn: Pøllegårdsvej
          bogstavTil: B
          conavn: Postboks 250
          bogstavFra: A
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          husnummerFra: 10
          kommune:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            kommuneNavn: KØBENHAVN
            kommuneKode: 101
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          postboks: "1440"
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          postnummer: 7741
          bynavn: Bording
          etage: st
          husnummerTil: 22
          sidedoer: tv
          landekode: DK
          sidstValideret: 2022-07-18T03:39:09.942Z
          postdistrikt: Gudbjerg Sydfyn
        telefaxNummer:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        enhedstype: VIRKSOMHED
        virkningsAktoer: V
        fejlBeskrivelse: "Medlem: Ukendt deltager enhedsnummer for cvr: 35484450 4005582364"
        beliggenhedsadresse:
        - vejkode: 420
          fritekst: |-
            1501 Southbank Tower
            London SE1 9EY
          adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
          vejnavn: Pøllegårdsvej
          bogstavTil: B
          conavn: Postboks 250
          bogstavFra: A
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          husnummerFra: 10
          kommune:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            kommuneNavn: KØBENHAVN
            kommuneKode: 101
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          postboks: "1440"
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          postnummer: 7741
          bynavn: Bording
          etage: st
          husnummerTil: 22
          sidedoer: tv
          landekode: DK
          sidstValideret: 2022-07-18T03:39:09.942Z
          postdistrikt: Gudbjerg Sydfyn
        - vejkode: 420
          fritekst: |-
            1501 Southbank Tower
            London SE1 9EY
          adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
          vejnavn: Pøllegårdsvej
          bogstavTil: B
          conavn: Postboks 250
          bogstavFra: A
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          husnummerFra: 10
          kommune:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            kommuneNavn: KØBENHAVN
            kommuneKode: 101
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          postboks: "1440"
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          postnummer: 7741
          bynavn: Bording
          etage: st
          husnummerTil: 22
          sidedoer: tv
          landekode: DK
          sidstValideret: 2022-07-18T03:39:09.942Z
          postdistrikt: Gudbjerg Sydfyn
        fejlVedIndlaesning: false
        maanedsbeskaeftigelse:
        - intervalKodeAntalAnsatte: ANTAL_1000_999999
          aar: 2019
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          maaned: 12
          intervalKodeAntalAarsvaerk: ANTAL_10_19
          antalAarsvaerk: 1.9
          antalAnsatte: 24
        - intervalKodeAntalAnsatte: ANTAL_1000_999999
          aar: 2019
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          maaned: 12
          intervalKodeAntalAarsvaerk: ANTAL_10_19
          antalAarsvaerk: 1.9
          antalAnsatte: 24
        cvrNummer: 18738708
        hjemmeside:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        obligatoriskEmail:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        fusioner:
        - organisationsNavn:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          enhedsNummerOrganisation: 4008859993
          udgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          indgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
        - organisationsNavn:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          enhedsNummerOrganisation: 4008859993
          udgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          indgaaende:
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
          - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
            vaerdier:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              vaerdi: "75000000.00"
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sekvensnr: 0
            vaerditype: date
        elektroniskPost:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        attributter:
        - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
          vaerdier:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            vaerdi: "75000000.00"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            vaerdi: "75000000.00"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          sekvensnr: 0
          vaerditype: date
        - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
          vaerdier:
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            vaerdi: "75000000.00"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          - sidstOpdateret: 2020-04-08T00:10:47.000Z
            vaerdi: "75000000.00"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          sekvensnr: 0
          vaerditype: date
        virksomhedMetadata:
          nyesteNavn:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            navn: Daniel Nielsen
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteStatus:
            kreditoplysningstekst: Konkurs
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            statuskode: 5
            kreditoplysningkode: 0
            kreditoplysningtekst: Konkurs
            statustekst: Regnskab og boafslutning
            kreditoplysningskode: 0
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteBibranche1:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            branchetekst: Udvikling og konsulentbistand i forbindelse med software
            branchekode: "342000"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteBinavne:
          - ADVOKAT JENS ANDERSEN ApS
          - ADVOKAT JENS ANDERSEN ApS
          nyesteKvartalsbeskaeftigelse:
            kvartal: 3
            intervalKodeAntalAnsatte: ANTAL_2_4
            aar: 2014
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            intervalKodeAntalAarsvaerk: ANTAL_0_0
            antalAarsvaerk: 0
            antalAnsatte: 15
          antalPenheder: 12
          nyesteKontaktoplysninger:
          - name@domain.tld
          - name@domain.tld
          nyesteHovedbranche:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            branchetekst: Udvikling og konsulentbistand i forbindelse med software
            branchekode: "342000"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteBibranche3:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            branchetekst: Udvikling og konsulentbistand i forbindelse med software
            branchekode: "342000"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteBibranche2:
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            branchetekst: Udvikling og konsulentbistand i forbindelse med software
            branchekode: "342000"
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
          nyesteBeliggenhedsadresse:
            vejkode: 420
            fritekst: |-
              1501 Southbank Tower
              London SE1 9EY
            adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
            vejnavn: Pøllegårdsvej
            bogstavTil: B
            conavn: Postboks 250
            bogstavFra: A
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
            husnummerFra: 10
            kommune:
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              kommuneNavn: KØBENHAVN
              kommuneKode: 101
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            postboks: "1440"
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            postnummer: 7741
            bynavn: Bording
            etage: st
            husnummerTil: 22
            sidedoer: tv
            landekode: DK
            sidstValideret: 2022-07-18T03:39:09.942Z
            postdistrikt: Gudbjerg Sydfyn
          nyesteErstMaanedsbeskaeftigelse:
            intervalKodeAntalAnsatte: ANTAL_1000_999999
            aar: 2019
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            maaned: 12
            intervalKodeAntalAarsvaerk: ANTAL_10_19
            antalAarsvaerk: 1.9
            antalAnsatte: 24
          nyesteAarsbeskaeftigelse:
            intervalKodeAntalAnsatte: ANTAL_1000_999999
            aar: 2020
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            intervalKodeAntalAarsvaerk: ANTAL_1_1
            antalAarsvaerk: 355
            antalInklusivEjere: 5
            antalAnsatte: 388
            intervalKodeAntalInklusivEjere: ANTAL_200_499
          nyesteMaanedsbeskaeftigelse:
            intervalKodeAntalAnsatte: ANTAL_1000_999999
            aar: 2019
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            maaned: 12
            intervalKodeAntalAarsvaerk: ANTAL_10_19
            antalAarsvaerk: 1.9
            antalAnsatte: 24
          nyesteVirksomhedsform:
            virksomhedsformkode: 80
            stiftelsesDato: 1965-06-30
            langBeskrivelse: Anpartsselskab
            kortBeskrivelse: APS
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            sammensatStatus: NORMAL
            ansvarligDataleverandoer: T&S
            periode:
              gyldigFra: 1990-01-08
              gyldigTil: 2018-05-21
            virkningsDato: 2022-10-16
        brancheAnsvarskode: 65
        navne:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          navn: Daniel Nielsen
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          navn: Daniel Nielsen
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        sekundaertTelefaxNummer:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        regNummer:
        - regnummer: A/S45999
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          regNummer: A/S45999
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - regnummer: A/S45999
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          regNummer: A/S45999
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        deltagerRelation:
        - organisationer:
          - organisationsNavn:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            enhedsNummerOrganisation: 4006370545
            hovedtype: LEDELSESORGAN
            medlemsData:
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
          - organisationsNavn:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            enhedsNummerOrganisation: 4006370545
            hovedtype: LEDELSESORGAN
            medlemsData:
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
          kontorsteder:
          - attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            penhed:
              beliggenhedsadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              navne:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              sidstIndlaest: 2019-09-14T10:52:32+02:00
              adresseOpdateringOphoert: true
              adresseHemmelig: true
              enhedsNummer: 4009416462
              adresseHemmeligUndtagelse: false
              forretningsnoegle: 4006308802
              postadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              enhedstype: PERSON
          - attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            penhed:
              beliggenhedsadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              navne:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              sidstIndlaest: 2019-09-14T10:52:32+02:00
              adresseOpdateringOphoert: true
              adresseHemmelig: true
              enhedsNummer: 4009416462
              adresseHemmeligUndtagelse: false
              forretningsnoegle: 4006308802
              postadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              enhedstype: PERSON
          deltager:
            beliggenhedsadresse:
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            navne:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Daniel Nielsen
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Daniel Nielsen
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            sidstIndlaest: 2019-09-14T10:52:32+02:00
            adresseOpdateringOphoert: true
            adresseHemmelig: true
            enhedsNummer: 4009416462
            adresseHemmeligUndtagelse: false
            forretningsnoegle: 4006308802
            postadresse:
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            enhedstype: PERSON
        - organisationer:
          - organisationsNavn:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            enhedsNummerOrganisation: 4006370545
            hovedtype: LEDELSESORGAN
            medlemsData:
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
          - organisationsNavn:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Direktion
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            enhedsNummerOrganisation: 4006370545
            hovedtype: LEDELSESORGAN
            medlemsData:
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            - attributter:
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
              - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
                vaerdier:
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                - sidstOpdateret: 2020-04-08T00:10:47.000Z
                  vaerdi: "75000000.00"
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                sekvensnr: 0
                vaerditype: date
            attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
          kontorsteder:
          - attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            penhed:
              beliggenhedsadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              navne:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              sidstIndlaest: 2019-09-14T10:52:32+02:00
              adresseOpdateringOphoert: true
              adresseHemmelig: true
              enhedsNummer: 4009416462
              adresseHemmeligUndtagelse: false
              forretningsnoegle: 4006308802
              postadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              enhedstype: PERSON
          - attributter:
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            - type: RevisionsvirksomhedProduktionsenhedRevisortilknytning
              vaerdier:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                vaerdi: "75000000.00"
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sekvensnr: 0
              vaerditype: date
            penhed:
              beliggenhedsadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              navne:
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              - sidstOpdateret: 2020-04-08T00:10:47.000Z
                navn: Daniel Nielsen
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              sidstIndlaest: 2019-09-14T10:52:32+02:00
              adresseOpdateringOphoert: true
              adresseHemmelig: true
              enhedsNummer: 4009416462
              adresseHemmeligUndtagelse: false
              forretningsnoegle: 4006308802
              postadresse:
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              - vejkode: 420
                fritekst: |-
                  1501 Southbank Tower
                  London SE1 9EY
                adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
                vejnavn: Pøllegårdsvej
                bogstavTil: B
                conavn: Postboks 250
                bogstavFra: A
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
                husnummerFra: 10
                kommune:
                  sidstOpdateret: 2020-04-08T00:10:47.000Z
                  kommuneNavn: KØBENHAVN
                  kommuneKode: 101
                  periode:
                    gyldigFra: 1990-01-08
                    gyldigTil: 2018-05-21
                postboks: "1440"
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                postnummer: 7741
                bynavn: Bording
                etage: st
                husnummerTil: 22
                sidedoer: tv
                landekode: DK
                sidstValideret: 2022-07-18T03:39:09.942Z
                postdistrikt: Gudbjerg Sydfyn
              enhedstype: PERSON
          deltager:
            beliggenhedsadresse:
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            navne:
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Daniel Nielsen
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            - sidstOpdateret: 2020-04-08T00:10:47.000Z
              navn: Daniel Nielsen
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
            sidstOpdateret: 2020-04-08T00:10:47.000Z
            sidstIndlaest: 2019-09-14T10:52:32+02:00
            adresseOpdateringOphoert: true
            adresseHemmelig: true
            enhedsNummer: 4009416462
            adresseHemmeligUndtagelse: false
            forretningsnoegle: 4006308802
            postadresse:
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            - vejkode: 420
              fritekst: |-
                1501 Southbank Tower
                London SE1 9EY
              adresseId: 9ef42ca2-0055-47f3-91f2-fe9231ea2b8b
              vejnavn: Pøllegårdsvej
              bogstavTil: B
              conavn: Postboks 250
              bogstavFra: A
              periode:
                gyldigFra: 1990-01-08
                gyldigTil: 2018-05-21
              husnummerFra: 10
              kommune:
                sidstOpdateret: 2020-04-08T00:10:47.000Z
                kommuneNavn: KØBENHAVN
                kommuneKode: 101
                periode:
                  gyldigFra: 1990-01-08
                  gyldigTil: 2018-05-21
              postboks: "1440"
              sidstOpdateret: 2020-04-08T00:10:47.000Z
              postnummer: 7741
              bynavn: Bording
              etage: st
              husnummerTil: 22
              sidedoer: tv
              landekode: DK
              sidstValideret: 2022-07-18T03:39:09.942Z
              postdistrikt: Gudbjerg Sydfyn
            enhedstype: PERSON
        naermesteFremtidigeDato: 2021-10-26
        virksomhedsstatus:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          status: NORMAL
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
          status: NORMAL
        sidstOpdateret: 2020-04-08T00:10:47.000Z
        telefonNummer:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          hemmelig: true
          kontaktoplysning: name@domain.tld
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        samtId: 5
        sidstIndlaest: 2019-09-14T10:52:32+02:00
        binavne:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          navn: Daniel Nielsen
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          navn: Daniel Nielsen
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        kvartalsbeskaeftigelse:
        - kvartal: 3
          intervalKodeAntalAnsatte: ANTAL_2_4
          aar: 2014
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          intervalKodeAntalAarsvaerk: ANTAL_0_0
          antalAarsvaerk: 0
          antalAnsatte: 15
        - kvartal: 3
          intervalKodeAntalAnsatte: ANTAL_2_4
          aar: 2014
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          intervalKodeAntalAarsvaerk: ANTAL_0_0
          antalAarsvaerk: 0
          antalAnsatte: 15
        enhedsNummer: 4009416462
        bibranche3:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        bibranche2:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        reklamebeskyttet: true
        bibranche1:
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - sidstOpdateret: 2020-04-08T00:10:47.000Z
          branchetekst: Udvikling og konsulentbistand i forbindelse med software
          branchekode: "342000"
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        dataAdgang: 0
        status:
        - kreditoplysningstekst: Konkurs
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          statuskode: 5
          kreditoplysningkode: 0
          kreditoplysningtekst: Konkurs
          statustekst: Regnskab og boafslutning
          kreditoplysningskode: 0
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
        - kreditoplysningstekst: Konkurs
          sidstOpdateret: 2020-04-08T00:10:47.000Z
          statuskode: 5
          kreditoplysningkode: 0
          kreditoplysningtekst: Konkurs
          statustekst: Regnskab og boafslutning
          kreditoplysningskode: 0
          periode:
            gyldigFra: 1990-01-08
            gyldigTil: 2018-05-21
      nullable: false
      properties:
        aarsbeskaeftigelse:
          description: |
            Information vedr. antallet af tilknyttede årsværk og ansatte for et givent år
[...]
